
<div class="row m-4">
    <div class=" bg-white right-part">
      <%= link_to 'New item', new_list_path, class: 'btn btn-primary' %>
        <h3>Your Lists</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% position = 0 %>
                <% @lists.each do |list| %>
                    <tr>
                        <th scope="row"><%= list.user_id %></th>
                        <td><%= list.name %></td>
                        
                        <th scope="row"><%= position += 1 %></th>
                        <td><%#= link_to 'Edit', edit_list_path(list), class: 'btn btn-warning btn-sm mb-2' %>
                         <%= button_to 'Delete', [list], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-danger btn-sm'  %>
                         </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

