
<div class="row m-4">
    <div class=" bg-white right-part">
      <%= link_to 'New list', new_list_path, class: 'btn btn-primary' %>
        <h3>Your Lists</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                <% count = 0 %>
                <% @lists.each do |list| %>
                    <tr>
                        <th scope="row"><%= list.user_id %></th>
                        <td><%= list.name %></td>
                        
                        <th scope="row"><%= count += 1 %></th>

                        
                    </tr>
                    <%= button_to 'Delete', [list], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-dark btn-sm'  %>
                <% end %>
                </tbody>
            </table>
            <%# pagy_nav(@pagy).html_safe %>
        </div>
    </div>
</div>

