
<div class="row m-4">
    <div class=" bg-white right-part">
      <%= link_to 'Add item', new_list_path, class: 'btn btn-primary' %>
        <h3 class="text-center">Your Lists</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% position = 0 %>
                <% @lists.each_with_index do |list, index| %>
                    <tr>
                      <% if index == 0 %>
                          <th scope="row"><%= "#{index + 1}" %></th>
                        <% elsif index == 1 %>
                          <th scope="row"><%= "#{index + 12}" %></th>
                        <% elsif index == 2 %>
                          <th scope="row"><%= "#{index + 27}" %></th>
                        <% elsif index == 3 %>
                          <th scope="row"><%= "#{index + 1}" %></th>
                        <% elsif index == 4 %>
                          <th scope="row"><%= "#{index + 3}" %></th>
                        <% elsif index == 5 %>
                          <th scope="row"><%= "#{index + 4}" %></th>
                        <% else %>
                          <th scope="row"><%= "#{index + 5}" %></th>
                      <% end %>
                        <td><%= list.name %></td>
                        
                        <th scope="row"><%= position += 1 %></th>
                        <td><%#= link_to 'Edit', edit_list_path(list), class: 'btn btn-warning btn-sm mb-2' %>
                         <%= button_to 'Delete', [list], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-danger btn-sm'  %>
                         </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

